.black-f {

  .text-blue,
  .section-title {
    color: #F61407 !important;
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 7px;
}

html.dark {
  ::-webkit-scrollbar-track {
    background: #9d9d9d !important;
  }

}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-secondary);

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-darker-secondary);
  border-radius: 3px;
  transition: all ease .3s;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary);
}

::-webkit-scrollbar {
  width: 7px;
  margin-top: 2rem;
  padding-top: 2rem;
  top: 10px;
  position: fixed;
  margin-left: 2rem;
}

.bounce-enter-active {
  animation: bounce-in 0.5s;
}

.bounce-leave-active {
  animation: bounce-in 0.5s reverse;
}

.fadeInUp {
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(7px);
    -webkit-transform: translateY(7px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
  }
}


@keyframes bounce-in {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes pulse-bg {
  0% {
    background-color: #ddd;
  }

  50% {
    background-color: #d0d0d0;
  }

  100% {
    background-color: #ddd;
  }
}


.page-enter-active {
  transition: all 0.2s ease-out;
}

.page-leave-active {
  transition: all 0.2s cubic-bezier(1, 0.5, 0.8, 1);
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
}


.layout-enter-active {
  transition: all 0.2s ease-out;
}

.layout-leave-active {
  transition: all 0.2s cubic-bezier(1, 0.5, 0.8, 1);
}

.layout-enter-from,
.layout-leave-to {
  transform: translateY(-20px);
  opacity: 0;
}

.slide-enter-active {
  transition: all .5s ease;
}

.slide-leave-active {
  transition: all .5s ease;
}

.slide-enter-from,
.slide-leave-to {
  transform: translateX(400px);
  opacity: 1;
}

.ck-tooltip__text,
.ck-button__label {
  font-family: var(--h2-font-family) !important;
}

.slideUp-enter-active {
  transition: all .7s ease;
}

.slideUp-leave-active {
  transition: all .7s ease;
}

.slideUp-enter-from,
.slideUp-leave-to {
  transform: translateY(700px);
  opacity: 1;
}


.blog-content,
.single-product-content {


  ul {
    padding-inline-start: 40px;
    margin-top: .5rem;
    margin-bottom: .5rem;

    li {
      list-style: disc;
      margin: 1rem 0;
    }
  }

  ol {
    padding-inline-start: 40px;
    margin-top: .5rem;
    margin-bottom: .5rem;

    li {
      list-style: decimal;
      margin: 1rem 0;
    }
  }

  p {
    font-weight: normal;
    margin-bottom: .5rem;
    line-height: 150%;
    font-size: 17px;
  }

  a {
    display: inline-block;
    @apply text-blue;
  }



  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-black dark:text-white;
    font-size: var(--h5-font-size);
    margin-top: 2rem;
    margin-bottom: .5rem;
  }
}


main {

  .swiper-button-prev,
  .swiper-button-next {
    @apply bg-white text-black shadow rounded-full w-[50px] h-[50px] sm:w-[35px] sm:h-[35px];
    transform: translateY(10%);

    &:after {
      @apply sm:text-[12px] !font-normal;
      font-size: 20px;
      font-weight: bold;
    }
  }
}

.h__toast {
  @apply dark:bg-secondary dark:text-borderColor;
  box-shadow: 0px 10px 36px rgba(15, 15, 16, 0.2) !important;
  background: white !important;
  color: black !important;
  border-radius: 14px !important;
  padding: 0 0 0 1.5rem !important;
  min-width: 400px !important;
  max-width: 100% !important;
  font-family: var(--h1-font-family) !important;
}

.Vue-Toastification__toast-body {
  padding: 1.5rem 1rem;
}


.Vue-Toastification__progress-bar {
  background: #F0EFEF !important;
  width: 94% !important;
  right: unset !important;
  left: -68px !important;
}

.toast__icon {
  height: unset !important;
  width: 88px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: unset !important;
}

.Vue-Toastification__toast--rtl {
  margin-left: auto !important;
  margin-right: unset !important;
}

.Vue-Toastification__toast {
  font-size: var(--h6-font-size) !important;
}

.Vue-Toastification__container {
  z-index: 9999999 !important;
}

@media screen and (max-width:768px) {
  div.h__toast {
    margin: 10px auto !important;
    width: 95% !important;
    display: flex;
    min-width: unset !important;
    min-height: 60px !important;
    margin-bottom: 0 !important;
  }

  .toast__icon {
    width: 70px !important;
    svg{
      width: 15px;
      height: 20px;
    }
  }

  .Vue-Toastification__toast-body {
    padding: 1rem 12px !important;
    font-size: var(--h7-font-size) !important;
  }
}

/* فایل styles.scss */
.table-container {
  @apply relative overflow-x-auto rounded-lg;
}

table {
  @apply w-full text-right border border-borderColor text-gray-500 dark:text-gray-400;

  thead {
    @apply text-gray-700 bg-lightSecondary dark:bg-secondary dark:text-gray-400;

    th {
      @apply px-6 py-3 font-medium text-gray-900 dark:text-white;
    }
  }

  th,
  td {
    @apply px-6 py-3 whitespace-nowrap;
  }

  tbody {
    tr {
      @apply border-b border-secondary bg-bodyBg dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-lightSecondary;

    }
  }
}


.input-group {
  position: relative;
}

.form-control {
  @apply bg-lightSecondary dark:bg-darkSecondary border border-secondary transition-all py-4;

  &:focus {
    @apply bg-secondary;
  }

  &.invalid-data {
    color: red;
    border-color: red;

    &::placeholder {
      color: red;
    }
  }

  &:disabled {
    opacity: .4;
    cursor: no-drop;
  }
}

.has-icon {
  padding-left: 2.7rem;
}

.input__icon {
  position: absolute;
  height: 100%;
  left: 1.25rem;
  top: 0;
  display: flex;
  align-items: center;

  &.has-error {
    color: red;
    height: 72%;
  }
}

.has-icon.profix-icon {
  padding-left: 0;
  padding-right: 2.8rem;
}

.input__icon.profix-icon {
  left: 0;
  right: .75rem;
  width: min-content;
}

.input-invalid-text {
  color: red;
}

.card-loading {
  opacity: .4;
  z-index: 1;
  position: relative;

  &::after {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
  }
}