@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Kalame";
  src: url(/fonts/Kalameh/KalamehWebFaNum-Regular.woff2);
}

@font-face {
  font-family: bakhFanum;
  src: url(/fonts/bakh-fanum/Bold.woff) format("woff");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: bakhFanum;
  src: url(/fonts/bakh-fanum/regular.woff) format("woff");
  font-weight: normal;
  font-display: swap;
}

:root {
  --color-primary: #ff6a6a;
  --color-darker-primary: #d23636;
  --color-light-primary: #f6c5bc;
  --color-secondary: #ecebe9;
  --color-light-secondary: #f5f5f5;
  --color-darker-secondary: #d9d9d9;
  --color-green: #20b75d;
  --color-ligh-green: #c5f7d9;
  --color-blue: #31a8ff;
  --color-blue-light: #eaf6ff;
  --border-radius: 16px;
  --body-text-color: #212529;
  --body-bg-color: #fafafa;
  --h1-font-size: 30px;
  --h2-font-size: 28px;
  --h3-font-size: 25px;
  --h4-font-size: 22px;
  --h5-font-size: 18px;
  --h6-font-size: 16px;
  --h7-font-size: 13px;
  --color-gray: #ecebe9;
  --color-muted: #959595;
  --border-light-color: #eaf6ff;
  --border-color: #e8e8e8;
  --color-card: #fff;
  // --yellow-light-color: rgba(255, 241, 204, 1);
  // --border-light-color: rgba(245, 245, 245, 1);
  // --red-color: rgba(255, 78, 78, 1);
  // --red-light-color: rgba(255, 220, 220, 1);
  // --lighter-color: rgba(250, 250, 250, 1);
}
html.dark {
  --body-bg-color: #121212;
  --body-text-color: #dadbe0;
  --border-color: rgb(51, 51, 51);
  --color-card: #0c0b0b;
  --color-secondary: #2a2626;
  --color-darker-secondary: #161414;
  --color-light-secondary: rgb(48, 44, 44);

  --color-primary: #b92e2e;
  --color-darker-primary: #852020;
  --color-light-primary: #c58b81;

  img{
    filter: brightness(.9);
  }
}
body {
  @apply text-h6;
  color: var(--body-text-color);
  font-family: "Kalame";
  background: var(--body-bg-color);
  text-align: right;
}
@media screen and (min-width:1024px) {
  .container {
      padding-left: 5rem;
      padding-right: 5rem;
  }
}
html {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

* {
  outline: none;
  box-shadow: none;
}

.english-number {
  font-family: bakh !important;
}

header {
  padding-top: 2rem;
}


.search-wrapper {
  background: var(--light-color);
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  padding: 0rem 1.5rem;
  margin-right: 0.5rem;
}

.search-wrapper-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.search-wrapper-icon img {
  width: 24px;
  height: auto;
}

.search-wrapper input {
  min-width: 300px;
  padding: 1rem;
  border: none !important;
  background: transparent;
}

.dots-after {
  position: relative;
  padding: 1rem 0;
  padding-bottom: 2rem;
}

.dots-after-dots {
  position: absolute;
  bottom: 1rem;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}

.dots-after-dots span {
  width: 6px;
  height: 6px;
  background: var(--primary-color);
  border-radius: 50%;
  display: block;
  opacity: 0;
  transform: scale(0.5);
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dots-after:hover .dots-after-dots span,
.dots-after.active .dots-after-dots span {
  opacity: 1;
  transform: scale(1);
}

.dots-after-dots span:nth-child(2) {
  width: 9px;
  height: 9px;
  transition-delay: 0.1s;
}

.header-nav {
  margin: 0.75rem 0;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.header-nav-left {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  top: -0.5rem;
}

header {
  border-bottom: 1px solid var(--border-color);
}

a,
a:active,
a:focus,
a:visited,
a:hover {
  text-decoration: none;
  color: inherit;
}

.header-nav-right {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.megamenu {
  position: absolute;
  top: 100%;
  right: 0;
  width: fit-content;
  background: #fff;
  border-bottom-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  display: flex;
  border: 1px solid var(--border-color);
  opacity: 0;
  z-index: 9;
  pointer-events: none;
  transform-origin: center top;
  transform: scaleY(0.9);
  transition: all 0.15s ease-out;
}

.megamenu-wrapper:hover .megamenu {
  opacity: 1;
  pointer-events: initial;
  transform: scaleY(1);
}

.megamenu-col {
  width: 25%;
  padding: 1.5rem 2rem;
  border-left: 1px solid var(--border-color);
  min-width: 250px;
}

.megamenu-col:last-child {
  border-left: none;
}

.megamenu-col>strong {
  display: block;
  margin-bottom: 0.5rem;
}

.megamenu-col ul li {
  list-style: none;
}

.megamenu-col ul li a {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

a:hover .dots-vertical-dots {
  background: var(--primary-color);
}

.megamenu-col ul {
  margin: 0;
  padding: 0;
}

.dots-vertical-dots {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: var(--light-color);
  display: block;
  content: "";
  transition: all 0.15s ease-out;
  margin-left: 0.5rem;
  position: absolute;
  right: -15px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.dots-vertical-dots:first-child {
  top: -18px;
  transform: translateY(9px);
}

a:hover .dots-vertical-dots:first-child {
  transform: translateY(0);
}

.dots-vertical-dots:nth-child(2) {
  top: 0;
  width: 10px;
  right: -18px;
  height: 10px;
}

.dots-vertical-dots:nth-child(3) {
  top: 18px;
  transform: translateY(-9px);
}

a:hover .dots-vertical-dots:nth-child(3) {
  transform: translateY(0);
}

.dots-vertical {
  position: relative;
}


.product-categories {
  color: var(--color-muted);
}


.banner {
  width: 100%;
  position: relative;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.banner>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-meta {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background: rgba(50, 50, 50, 0.9);
  color: #fff;
  width: 100%;
}

.banner-meta-right span {
  display: block;
  font-size: 1.1rem;
}

.banner-meta-right strong {
  display: block;
  font-size: 0.9rem;
}


.banner {
  /*height:250px;*/
}

.countdown {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.countdown-col {
  width: 70px;
  height: 70px;
  border-radius: var(--border-radius);
  border: 1px solid var(--red-color);
  color: var(--red-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.countdown-col strong {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: -0.25rem;
}

.feature {
  width: 100%;
  position: relative;
  text-align: center;
}

.feature-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  margin: auto;
  z-index: -1;
  transform-origin: center center;
}

.features {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.features .row .col-lg-3:nth-child(2) .feature-bg {
  transform: rotate(180deg);
}

.features .row .col-lg-3:nth-child(3) .feature-bg {
  transform: rotate(-60deg);
}

.feature p {
  padding: 0 2rem;
}

.feature h4 {
  margin: 0;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.blog-section {
  margin-bottom: 6rem;
}

.blog-section-body {
  padding-top: 2rem;
}


.card {
  border: none;
  border-radius: var(--border-radius);
  padding: 1.5rem 2rem;
  @apply bg-cardBg sm:px-3 py-4;

  .header {
    @apply flex gap-3 pb-2 justify-between border-b border-borderColor;

    .title {
      @apply text-h5 text-black;
    }
  }
}

h5 {
  @apply text-h5;
}

h4 {
  @apply text-h4;
}

.input {
  width: 100%;
  padding: 0.75rem;
  border-radius: calc(var(--border-radius) / 2);
  background: var(--lighter-color);
  border: 1px solid var(--lighter-color);
}

.input:not(.form-check-input):focus {
  border: 1px solid var(--border-color);
  background: transparent;
}

textarea {
  padding-right: 1.5rem;
}





.fadeInOutLoading {
  pointer-events: none;
  animation: fadeInOutLoading 0.5s linear alternate-reverse infinite;
}

@keyframes fadeInOutLoading {
  0% {
    opacity: 0.75;
  }

  100% {
    opacity: 0.35;
  }
}


input {
  width: 100%;
  border-radius: var(--border-radius);
  @apply border border-transparent bg-secondary;
  padding: .8rem 1rem;
}

input[type='checkbox']:not(.form-check-input):focus {
  @apply border-b-lightSecondary
}

.input-icon {
  margin-top: 0.25rem;
  position: relative;
}

.input-icon input {
  padding-right: calc(24px + 1.5rem);
}

.dashboard-page main {
  padding-bottom: 100px !important;
}

.product-horizontal {
  width: 100%;
  border-radius: var(--border-radius);
  padding: 2rem;
  background: #fff;
  display: flex;
}

.product-horizontal-image {
  width: 120px;
  height: 120px;
  overflow: hidden;
  display: flex;
  border: 1px solid var(--border-color);
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  flex: none;
  background: #fff;
}

.product-horizontal-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-horizontal-body {
  width: 100%;
  padding-right: 1rem;
}

button {
  outline: none !important;
}

label {
  display: block;
}

@media screen and (min-width: 1025px) {
  .mobile-tabs {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  header>.container>.d-flex>.d-flex {
    display: none !important;
  }

  header {
    padding-bottom: 0.5rem;
    padding-top: 1.5rem;
    border-bottom: 1px solid var(--border-color);
    background: #fff;
  }

  header img {
    height: 32px;
  }

  .dashboard-page header {
    margin-bottom: 1rem;
  }

  header>.container>.d-flex {
    align-items: center;
    justify-content: center !important;
  }


  .product-horizontal-body {
    position: relative;
    /* padding-top:60px; */
  }

  .product-horizontal-title-outer {
    width: 100% !important;
    flex: none;
  }

  .count-wrapper-inner {
    padding: 0;
  }

  .product-horizontal-body .product-horizontal-title {
    max-width: calc(100% - 64px);
    margin-bottom: 1rem;
    display: block;
    width: 100%;
  }

  .product-horizontal-variants {
    flex-direction: column-reverse;
    align-items: flex-start !important;
    width: 100% !important;
  }

  .product-horizontal-variants [data-remove="product"] {
    margin-right: auto;
    position: absolute;
    top: 0;
    left: 0;
  }

  .single-order-actions a {
    text-align: center;
    justify-content: center;
  }

  .single-order-details-content {
    margin-right: -1.5rem;
    margin-left: -1.5rem;
    width: calc(100% + 3rem);
    border-radius: 0 !important;
  }

  .single-order-details>.d-flex .title-dot {
    margin-bottom: 2rem !important;
  }

  .product-horizontal-image {
    width: 60px;
    height: 60px;
  }

  .single-order-details>.d-flex {
    flex-direction: column;
    align-items: flex-start !important;
  }

  .single-order-details>.d-flex>.d-flex {
    width: 100%;
  }

  [data-coupon-wrapper] .col-6 {
    width: 100% !important;
  }

  .single-order-details>.d-flex>.d-flex>.d-flex {
    flex-direction: column-reverse;
    width: 100%;
  }

  .single-order-details>.d-flex>.d-flex>.d-flex>* {
    width: 100%;
  }

  .dashboard-page .table-responsive tbody tr {
    margin: 1.5rem 0;
  }

  .dashboard-page .card .table-responsive {
    margin-right: -1.5rem;
    margin-left: -1.5rem;
    width: calc(100% + 3rem);
    background: var(--lighter-color);
    margin-top: 1.5rem !important;
    padding-bottom: 0;
    margin-bottom: -2rem;
  }

  .dashboard-page .table-responsive tbody tr td:last-child {
    border-bottom: none;
  }

  .dashboard-page td::before {
    content: attr(data-title);
    display: inline-block;
  }

  .header-nav {
    display: none;
  }

  .sort-types-wrapper {
    max-width: 100%;
    flex-direction: column !important;
  }

  .sort-types {
    flex-direction: column !important;
  }

  .hero-tiles {
    display: none;
  }

  .footer-widget>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .footer-widget>div>img {
    width: 36px;
    height: 36px;
    transition: transform 0.15s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .footer-widget.active>div>img {
    transform: rotate(-90deg);
  }

  .footer-widget {
    border-bottom: 1px solid var(--border-color);
    padding: 1rem 0;
  }

  .footer-widget>div strong {
    font-size: 1.2rem;
  }

  .footer-widget ul {
    padding: 1rem 2rem !important;
    font-size: 1.1rem;
  }

  [data-collapsible-body] {
    display: none;
  }

  .backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 998;
  }

}

@media screen and (min-width: 1025px) {
  .mobile-only {
    display: none !important;
  }
}

@media screen and (max-width: 1024px) {
  .desktop-only {
    display: none !important;
  }
}

::placeholder {
  text-align: right;
}

::-webkit-input-placeholder {
  text-align: right;
}

:-moz-placeholder {
  /* Firefox 18- */
  text-align: right;
}

::-moz-placeholder {
  /* Firefox 19+ */
  text-align: right;
}

:-ms-input-placeholder {
  text-align: right;
}

.container {
  max-width: 1680px;
}